<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Add header</h1>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="btn">
            <a href="/users/new">Add User</a>
        </div>
        <div class="btn">
            <a href="/">Go Home</a>
        </div>
    </footer>

</body>
</html>